body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #0048BA;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8em; /* Larger font size for readability */
}

main {
    padding: 15px;
}

.content h2 {
    color: #0048BA; /* Adding a touch of theme color */
}

.event-details {
    list-style: none;
    padding: 0;
}

.event-details li {
    margin-bottom: 10px;
    font-size: 1.1em; /* Slightly larger for better