body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #0048BA;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

main {
    padding: 15px;
}

.content h2 {
    color: #0048BA;
}

.event-details {
    list-style: none;
    padding: 0;
}

.event-details li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 1.6em; /* Adjust for smaller screens */
    }
}